.product-detail-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.product-card {
  display: flex;
  position: relative;
  gap: 2rem;
  max-width: 900px;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

/* button go back */
.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  button{
    background: var(--warn-color);
    color: white;
  }
  button:hover{
    background: var(--accent-color);
  }
}

/* ----- Image ----- */
.product-image img {
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

/* ----- Info ----- */
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  margin: 1.2rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.product-description{
  color: #555;
  margin-bottom: 1rem;
}

.product-meta p {
  margin: 0.2rem 0;
  font-size: 1rem;
}

/* ----- Buttons ----- */
.actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.3rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn.primary {
  background: var(--primary-color);
  color: white;
}

.btn.primary:hover {
  background: var(--accent-color);
}


/* ----- Responsive mobile ----- */
@media (600px <= width < 768px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 70%;
  }

  .product-image img{
    width: 350px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .actions {
    justify-content: center;
  }
}

@media (550px <= width < 600px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 80%;
  }

  .product-image img{
    width: 320px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .actions {
    justify-content: center;
  }
}

@media (470px <= width < 550px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 80%;
  }

  .product-image img{
    width:320px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .actions {
    justify-content: center;
  }
}

@media (410px <= width < 570px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 80%;
  }

  .product-image img{
    width:280px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .actions {
    justify-content: center;
  }
}

@media (350px <= width < 410px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 80%;
  }

  .product-image img{
    width:240px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .product-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .actions {
    justify-content: center;
  }
}

@media (300px <= width < 350px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 80%;
  }

  .product-image img{
    width:200px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .product-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .actions {
    justify-content: center;
  }
}

@media (width < 300px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    width: 80%;
  }

  .product-image img{
    width:180px;
  }

  .product-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .product-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .actions {
    justify-content: center;
  }
}



