.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 10px;
  text-align: center;
  color: #555;
  font-size: 1.1rem;
}

/* Spinner */
.spinner {
  width: 45px;
  height: 45px;
  border: 5px solid #ddd;
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
